* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #bd7dbd;
    color: white;	
    font-family: 'Open Sans', sans-serif;
}
header {
    padding: 20px;
    background-color: white;
    color:  #800080;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 50px;
    width: 100%;
}

#last-name {
    color: #ddbbdd;
}

 #nav-menu {
    float: right;
    display: inline-block;
    margin-top: -20px;
 }

nav ul li {
    display: inline-block;
    margin-top:60px
}


 nav a {
    text-decoration: none;
    color:  #800080;
    padding: 40px;
 }

 h1{
    font-size: 40px;
    float: left;
    border: solid white 2px;
    padding: 8px 30px; 
    margin-top: 35px;
 }

 #first {
    display: flex;
    width: auto;
 }


 #about-me {
    line-height: 1.5;
    margin-top: 80px;
    margin-left: -500px;
    margin-right: 80px;
 }

 h2 {
    font-weight: 700;
    border-bottom: white solid 1px;
    margin-right: 360px;
    margin-bottom: 10px;
     }

#claire-underline {
    border-bottom: white solid 1px;
    margin-right: 5px;
}

.content {
    margin-top: 10px;
    margin-left: 40px;
    font-weight: 450;
    text-align: justify;
}

#happy {
    line-height: 3;
    font-size: 30px;
    color: #ddbbdd;
    font-weight: 700;
    letter-spacing: .10em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke: 1.2px #800080;
    
}
#self-photo {
    height: 500px;
    width: 400px;
    margin: 40px 40px;
    border: solid white 10px;
}

#my-work h2 {
    line-height: 1.5;
    margin-left: 35px;
}

#my-work img {
    border: double white 3px;
    }

#my-work img:hover{
    transform:scale(1.2);
}

#horiseon {
    margin-left: 48px;
    margin-bottom: 20px;
}
#my-work a {
    text-decoration: none;
}


#horiseon-title, #sephora-title, #urban-title{
    text-align: left;
    padding-left: 5px;
    padding-top: 9px;
    background-color: white;
    height: 50px;
    width: 160px;
    position: relative;
    top: -80px;
    left: -20px;
    border:#800080 solid 3px;
    font-weight: 100;
}

#my-work div::first-line{
    font-size: 20px;
    font-weight: 900;
}

#projects-flex {
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
}


footer {
    display: flex; 
    justify-content: center;
    background-color: white;
    }
 

#lets-connect {
    font-size: 20px;
    color: #800080;
}

footer #footer-nav ul li a {
    display: flex;
    justify-content: space-evenly;
    }

    /* @media screen and (max-width:768px) {
    header {
        width: 100%;
    } 

    #nav-menu ul li a {
        padding: -300px;
    }

    #first , #about-me, .content{
        margin-left: 10px;
        width: 300px;
    }

    #self-photo {
        height: 250px;
        width: 175px;
        margin-left:-50px;
    }
    
    #horiseon a img{
        height: 300px;
        width: 600px;
    }

    #projects-flex a img{
        height: 200px;
        width: 300px;
        margin-left: -50px
    }

    #sephora-title, #urban-title {
        left: -70px;
    }
}
*/


@media screen and (max-width:1051px) {

    header {
        width: 100%;
    }

    #first , #about-me, .content{
        margin-left: 10px;
        width:100%;
    }

    #self-photo {
        height: 400px;
        width: 300px;
        margin-left: 0px;
        margin-top: 90px;
    }
   
}

@media screen and (max-width:390px){

    header {
        width: 100%;
    }

    #first, #about-me, .content {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
}
    #self-photo {
    height: 150px;
    width: 175px;
    margin-left: 130px;
}
}
