* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #bd7dbd;
    color: white;	
    font-family: 'Open Sans', sans-serif;
}
header {
    padding: 20px;
    background-color: white;
    color:  #800080;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 50px;
}

#last-name {
    color: #ddbbdd;
}

 #nav-menu {
    float: right;
    display: inline-block;
    margin-top: -20px;
 }

nav ul li {
    display: inline-block;
    margin-top:60px
}


 nav a {
    text-decoration: none;
    color:  #800080;
    padding: 40px;
 }

 h1{
    font-size: 40px;
    float: left;
    border: solid white 2px;
    padding: 8px 30px; 
    margin-top: 35px;
 }

 #first {
    display: flex;
 }


 #about-me {
    display: block;
    line-height: 1.5;
    margin-top: 80px;
    margin-left: -500px;
    margin-right: 80px;
 }

 h2 {
    font-weight: 700;
    border-bottom: white solid 1px;
    margin-right: 575px;
    margin-bottom: 10px;
     }

#claire-underline {
    border-bottom: white solid 1px;
    margin-right: 5px;
}

.content {
    margin-top: 10px;
    margin-left: 40px;
    font-weight: 450;
    text-align: justify;
}

#happy {
    line-height: 3;
    font-size: 30px;
    color: #ddbbdd;
    font-weight: 700;
    letter-spacing: .10em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke: 1.2px #800080;
    
}
#self-photo {
    height: 500px;
    width: 400px;
    margin: 40px 40px;
    border: solid white 10px;
}

#my-work {
    line-height: 1.5;
    margin-left: 35px;
}

#my-work img {
    border: double white 3px;
}



@media screen and (max-width: 900px){
}

@media screen and (max-width:768px) {
    .content {
        margin-left: 0px;
        width: 90%;
    }
}
