* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #bd7dbd;
    color: white;	
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 20px;
    background-color: white;
    color:  #800080;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#last-name {
    color: #ddbbdd;
}

 #nav-menu {
    float: right;
    display: inline-block;
 }
 /* how to add bullet points to nav list? */
nav li {
    display: inline-block;
}

 a {
    text-decoration: none;
    color:  #800080;
    padding: 20px;
 }

 #about-me{
    width: 60%;
    line-height: 1.5;
 }

 h2 {
    font-weight: 300;
    margin: 20px;
 }

.content {
    margin-left: 50px;
    font-weight: 600;
}

#happy {
    margin-left: 30%;
    line-height: 3;
    font-size: 25px;
    
}